/* Flat Colours - Swatch from -- colourlovers.com/business/trends/branding/7880/Papeterie_Haute-Ville_Logo */
/* Purple */
.flatpurple {
	background: #4b2856;
	color:#FFF;
}
/* Blue */
.flatblue {
	background: #0676bf;
	color:#FFF;
}
/* Aqua */
.flataqua {
	background: #01a4a4;
	color:#FFF;
}
/* flashblue */
.flatflashblue {
	background: #00a1cb;
	color:#FFF;
}
/* green */
.flatgreen {
	background: #61ae24;
	color:#FFF;
}
/* yellow */
.flatyellow {
	background: #d0d102;
	color:#FFF;
}
/* darkgreen */
.flatdarkgreen {
	background: #32742c;
	color:#FFF;
}
/* pink */
.flatpink {
	background: #d70060;
	color:#FFF;
}
/* red */
.flatred {
	background: #e54028;
	color:#FFF;
}
/* orange */
.flatorange {
	background: #f18d05;
	color:#FFF;
}
/* grey */
.flatgrey {
	background: #616161;
	color:#FFF;
}
