// Border-Radius Mixin
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

button {
	margin: 5px auto;
	display:block;
	cursor:pointer;
	font: 16px/16px 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: none transparent;
	border: none;

	&:focus {
		outline:none;
	}

	// Import Basic Styles
	@import "partials/basic";
	// Import Moz Styles
	@import "partials/moz";
	// Import Pill Styles
	@import "partials/flatpill";
	// Import Pill Styles
	@import "partials/appstore";

	
}

// Import Gradient Colours
@import "partials/gradientcolours";
// Import Flat Colours
@import "partials/flatcolours";

