// CSS3 Button Collection
// All buttons created by Alex Pate
// https://ajp.im
// a@ajp.im

button {
	margin: 5px auto;
	display:block;
	cursor:pointer;
	font: 16px/16px 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: none transparent;
	border: none;

	&:focus {
		outline:none;
	}


	// Import Basic Styles
	@import "partials/basic";
	// Import Moz Styles
	@import "partials/moz";
	// Import Pill Styles
	@import "partials/flatpill";
	// Import Pill Styles
	@import "partials/appstore";

	
}

// Import Gradient Colours
@import "partials/gradientcolours";

// Import Flat Colours
@import "partials/flatcolours";