$unitbackground: #292929;

body {
	background:#FFF;
	margin: 0;
	padding: 0;
	font-family: "nimbus-sans",sans-serif;
	-webkit-font-smoothing:antialiased;
}

.wrap {
	width:960px;
	margin: 0 auto;
}
#superheader {
	width:100%;
	height:30px;
	background: #ECECEC;
	border-bottom: 1px solid #CCC;

	& #alexlink {
		color:#888;
		font-size:12px;
		line-height:30px;
		text-decoration:none;
		float:left;
		display:block;
	}

	& #social {
		float:right;
		padding-top:5px;
	}
}
#header {
	background:#FFF;
	width:100%;
	height:200px;
	padding-top:50px;
	border-bottom: 1px solid #CCC;

	& h1 {
		color:#111;
		font-size:64px;
		line-height:64px;
		margin: 0;
		font-weight:700;
		letter-spacing: -2px;
	}
	& h2 {
		font-weight:900;
		margin: 0;
		color:#222;
		font-size:18px;
		letter-spacing:-1px;

	}
}

section {
	width:100%;
	height:170px;
	position:relative;
	padding:40px 0;
	border-bottom: 1px solid #CCC;

	& .leftinfo {
		width:300px;
		height:160px;
		float:left;

		& h3 {
			color:#222;
			text-align:left;
			font-weight:700;
			font-size:33px;
			line-height:33px;
			letter-spacing:-2px;
			margin:0
		}

		& h4 {
			font-size:16px;
			font-weight:700;
			line-height:16px;
			margin:0;
			color:#222;
		}

		& .leftdownload {
			width:100%;
			height:80px;
			margin-top:15px;

			& a.download {
				display:block;
				position:relative;
				width:80%;
				height:40px;
				margin:0;
				top:40px;
				background: #00a1cb;
				text-align: center;
				color:#FFF;
				font-weight:700;
				font-size:14px;
				line-height:40px;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}

	& .rightdemo {
		width: 960 - 315px;
		height: 160px;
		background: $unitbackground;
		float:left;
		margin-left:15px;
		border-radius:4px;

		#buttonhold {
			width:100%;
			margin-left:auto;
			margin-right:auto;
		}
	}
}
button.demobtn {
	display:block;
	position:relative;
	margin-top:0
}

#barholder {
	width:100%;
	height:40px;
}
.colourbar {
	width:100%;
	height:40px;
	background: #111;
	z-index:10;
	overflow:hidden;
	position:relative;
	border-bottom:1px solid #FFF;

	&.fixed {
		position:fixed;
		top:0;
		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
		-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
	}

	& #colourbarinfo {
		font-size:13px;
		line-height:13px;
		font-weight:700;
		color:#FFF;
		text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
		text-transform: uppercase;
		float:left;
		width:200px;
		padding-top:15px;
	}

	& #thecolours {
		width: 960 - 200px;
		float:left;

		& ul {
			list-style-type: none;
			margin:0;
			padding:0;
			position:relative;
			margin-left:15px;

			& li {
				float:left;
				width:30px;
				height:70px;
				margin-top:-20px;
				cursor:pointer;
				-webkit-transform: rotate(30deg);  
			    -moz-transform: rotate(30deg); 
			    -ms-transform: rotate(30deg); 
			    -o-transform: rotate(30deg); 
			    transform: rotate(30deg);
				-webkit-transform-origin: 0 0;
			    -moz-transform-origin: 0 0;
			    -ms-transform-origin: 0 0;
			    -o-transform-origin: 0 0;
			    transform-origin: 0 0;
			}
		}
	}
}
.github {
	display:block;
	position:relative;
	width:240px;
	height:40px;
	margin:0;
	top:16px;
	text-align: center;
	color:#a9a6a6;
	font-weight:700;
	font-size:14px;
	line-height:40px;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #f3f2f2;
	-webkit-box-shadow: inset 0 1px #fff;
	-moz-box-shadow: inset 0 1px #fff;
	box-shadow: inset 0 1px #fff;
	border: solid 1px #d8d9d9;
	&:hover {
		background:#ebe9e9;
	}
}

#footer {
	width:100%;
	height:40px;
	padding-top:14px;

	& #license {
		color:#777;
		font-weight:700;
		font-size:14px;
		text-decoration: none;
	}
}