// Flat Colours - Swatch from -- colourlovers.com/business/trends/branding/7880/Papeterie_Haute-Ville_Logo
.flatpurple {
	background: #4b2856;
	color:#FFF;
}
.flatblue {
	background: #0676bf;
	color:#FFF;
}
.flataqua {
	background: #01a4a4;
	color:#FFF;
}
.flatflashblue {
	background: #00a1cb;
	color:#FFF;
}
.flatgreen {
	background: #61ae24;
	color:#FFF;
}
.flatyellow {
	background: #d0d102;
	color:#FFF;
}
.flatdarkgreen {
	background: #32742c;
	color:#FFF;
}
.flatpink {
	background: #d70060;
	color:#FFF;
}
.flatred {
	background: #e54028;
	color:#FFF;
}
.flatorange {
	background: #f18d05;
	color:#FFF;
}
.flatgrey {
	background: #616161;
	color:#FFF;
}
