// Gradient Colours

// Gradient Mixin

@mixin gradient($first, $second) {
  	background: $first; /* Graceful Descent */
	background: -moz-linear-gradient(top, $first 0%, $second 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$first), color-stop(100%,$second));
	background: -webkit-linear-gradient(top, $first 0%,$second 100%);
	background: -o-linear-gradient(top, $first 0%,$second 100%);
	background: -ms-linear-gradient(top, $first 0%,$second 100%);
	background: linear-gradient(to bottom, $first 0%,$second 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$first', endColorstr='$second',GradientType=0 );
}


.blue {
	@include gradient(#0066b2, #004c85);
	color:#FFF;
}
.green {
	@include gradient(#8bca33, #6c9c28);
	color:#FFF;
}
.red {
	@include gradient(#d8203d, #a4182e);
	color:#FFF;
}
.orange {
	@include gradient(#cf6a11, #9e510d);
	color:#FFF;
}
.purple {
	@include gradient(#8d43ab, #6c3383);
	color:#FFF;
}
.neutral {
	@include gradient(#34485d, #273746);
	color:#FFF;
}
.yellow {
	@include gradient(#fcbd00, #c09000);
	color:#FFF;
}
.darkgreen {
	@include gradient(#17a086, #127c68);
	color:#FFF;
}
.black {
	@include gradient(#333232, #252525);
	color:#FFF;
}